<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <input type="email" name="email" value="" placeholder="Email"
        <% if(typeof errors != "undefined"){%>
            value="<%= errors.reqEmail %>"
        <%}%>>
        <%if(typeof errors != "undefined"){%>
            <% for(let i = 0 ; i < errors.errors.length ; i++){ %>
                <%if(errors.errors[i].param == "email"){%>
                    <p>* <%= errors.errors[i].msg %></p>
                    <% break; %>
                <%}%>
            <%}%>
        <%}%>

        <br>
        <input type="password" name="password" value="" placeholder="Password"/>
        <% if(typeof credencialesInvalidas != "undefined"){ %>
            <p class="error-total">* <%= credencialesInvalidas %></p>
        <% } %>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>