<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/__login-register.css">
    <title>Login</title>
</head>
<body>
    <div class="login-register">
        <form action="/login" method="POST">
            <div class="login-form">
            <input type="email" name="email" placeholder="Email"
            <% if(typeof credencialesInvalidasError != "undefined"){%>
                value="<%= credencialesInvalidasError %>"
            <%}%>>
            <input type="password" name="password" placeholder="Password"/>
                            <% if(typeof credencialesInvalidas != "undefined"){ %>
                        <p class="error-total">* <%= credencialesInvalidas %></p>
                    <% } %>
            <button type="submit">Login</button>
            </div>
        </form>
    </div>  
</body>
</html>