.loading-chatList {
    max-width: 400px;
    width: 40%;
    height: 100vh;
    background: #36393f;
}

.chat-list-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    background: var(--white);
    margin: 0px 0px 0px 55px;
}

/* .click.first {
    transform-origin: 0%;
    transform: rotate(45deg);
}

.click .mid-level {
    background: transparent;
    transition: 1s;
}

.click.last {
    transform-origin: 0%;
    transform: rotate(-45deg);
} */

.chat-list {
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,.2) hsla(0,0%,100%,.1);
    font-family: Inter;
}

.chat-item {
    cursor: pointer;
    padding: 0px 5px;
    list-style: none;
    height: 69px;
    border: 0px 1px 0px 1px solid;
    border-bottom: 0.5px solid var(--light-grey);
    display: flex;
    align-items: center;
    background: var(--white);
    transition: 0.2s;
}

.chat-item:hover {
    background: var(--light-grey);
    transition: 0.2s;
}

.chat-item:hover .chat-options {
    display: unset;
}

.profile-pic {
    width: 49px;
    height: 49px;
    border-radius: 100%;
    background: grey;
    margin: 0px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.profile-pic img {
    max-width: 49px;
    max-height: 49px;
    border-radius: inherit;
}

.chat-info {
    width: 100%;
}

.chat-name {
    font-size: 1.05rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
}

.chat-last-message {
    margin: 0px;
    color: var(--light-font);
}

.chat-end {
    display: flex;
    align-items: center;
}

.unread {
    /* margin: 0px 5px;
    padding: 0px 5px;
    border-radius: 100%;
    width: max-content;
    color: var(--white);
    background: var(--notification); */



    display: inline-block;
    min-width: .9em;
    min-height: 1em;
    font-size: 12px;
    font-weight: 600;
    line-height: 1em;
    color: var(--white);
    vertical-align: top;
    padding: .3em .4em .4em;
    text-align: center;
    background-color: var(--notification);
    border-radius: 1.1em;
}

.chat-options {
    display: none;
    z-index: 10;
    padding: 0px 15px;
}

.chat-options .level{
    transition: 0.3s;
    background: var(--light-font);
    width: 4px;
    height: 4px;
}

.chat-options:hover .level {
    background: var(--dark-grey);
    transition: 0.3s;
}