.chat-footer {
    width: 100%;
    height: max-content;
    background: var(--white);
}

.chat-footer form {
    width: 100%;
    margin: 15px 0px;
    display: flex;
    justify-content: center;
}

.chat-footer form input {
    margin: 0px 10px;
    width: 70%;
    height: 27px;
    border: 0px;
    border-radius: 20px;
    background: #ffffff;
    padding: 0px 20px;
}

button.send-message {
    width: 70px;
    height: 27px;
    border: 0px;
    border-radius: 20px;
    color: var(--white);
    background: #1851B4;
}