.chat-list-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 400px;
    max-width: 400px;
    background: var(--white);
}

.search-bar {
    background: var(--white);
    width: 100%;
    height: 65.42px;
    display: flex;
    align-items: center;
}

.search-bar input {
    margin: 0px 10px;
    width: 266px;
    height: 32px;
    border: 0px;
    border-radius: 20px;
    padding: 0px 20px;
}

.search-bar .menu {
    margin: 0px 10px;
    width: 48px;
    height: 32px;
    border-radius: 20px;
    border: 0px;
}

.chat-list {
    /* width: 100%; */
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    overflow-y: scroll;
}

.chat-item {
    padding: 0px 5px;
    list-style: none;
    height: 72px;
    border: 0px 1px 0px 1px solid;
    display: flex;
    align-items: center;
    background: var(--white);
    transition: 0.2s;
}

.chat-item:hover {
    background: var(--light-grey);
    transition: 0.2s;
}

.profile-pic {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background: grey;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.chat-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-name {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0px;
}

.chat-last-message {
    margin: 0px;
}