.chat-footer {
    width: 100%;
    height: max-content;
    background: var(--white);
}

.chat-footer form {
    width: 100%;
    margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-footer form input {
    margin: 0px 10px;
    width: 70%;
    height: 27px;
    border: 1px solid var(--light-grey);
    border-radius: 20px;
    background: var(--light-grey);
    padding: 0px 20px;
    font-family: Inter;
}

button.send-message {
    width: 32px;
    height: 32px;
    /* border-radius: 20px; */
    background: var(--signal-blue);
    border: 1px solid var(--signal-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.send-message i {
    font-size: 900;
}