.chat-header {
    width: 100%;
    height: 84px;
    position: static;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-profile-pic {
    margin: 0px 10px;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    padding: 0px;
    background: grey;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-profile-pic img {
    width: 44px;
    height: 44px;
}

.chat-info-name {
    margin: 0px;
    font-weight: 600;
}