.nav-bar {
    padding: 10px 0px;
    width: 90px;
    height: inherit;
    background: var(--dark-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    margin: 5px 0px;
}

.nav-item i {
    color: var(--white);
    font-size: 28px;
}