.nav-bar {
    transition: 0.2s;
    width: 55px;
    height: 100vh;
    background: var(--signal-blue);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    z-index: 10;
}

.nav-bar:hover {
    width: 300px;
    transition: 0.2s;
}

.nav-icons {
    width: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item {
    margin: 5px 0px;
}

.nav-item i {
    color: var(--white);
    font-size: 28px;
}

