.search-bar {
    background: var(--white);
    width: 100%;
    height: 65.42px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-bar form {
    display: flex;
    align-items: center;
    width: inherit;
    margin: 0px 10px;
}

.search-bar input {
    width: 100%;
    height: 32px;
    border: 0px;
    border-radius: 20px;
    padding: 0px 20px;
    background: var(--light-grey);
    font-family: Inter;
}

.burger {
    width: 49px;
    height: 32px;

    margin: 0px 10px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.burger:hover .child.not-clicked {
    background: var(--dark-grey);
    transition: 0.3s;
}

.burger:hover .level.clicked {
    background: var(--dark-grey);
    transition: 0.3s;
}

.level, .mid-level {
    transition: 1s;
    margin: 2px 0px;
    width: 30px;
    height: 2px;
    background: var(--light-grey);
    border-radius: 5px;
}

.clicked.first {
    transform-origin: 0%;
    transform: rotate(45deg);
    position: relative;
    left: 5px;
}

.clicked.mid-level {
    background: transparent;
    transition: 0.2s;
}

.clicked.last {
    transform-origin: 0%;
    transform: rotate(-45deg);
    position: relative;
    left: 5px;
}