.chatList {
    width: max-content;
    height: inherit;
    overflow-y: scroll;
}

.chatList ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chat-item {
    padding: 5px;
    display: flex;
    align-items: center;
    width: 378px;
    height: 72px;
    background: grey;
    border: 1px black solid;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: blue;
    margin: 5px;
}