<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Chats</title>
    <script src="/javascripts/test.js"></script>
</head>
<body>
    <div class="chats-wrapper">
        <div class="chats">
            <ul>
                <li class="list-chats"></li>
            </ul>
        </div>
        <div class="active-chat">
            <div class="chat-messages"></div>
            <div class="send-message-form">
                <form action="" method="POST">
                    <input type="text" value="" placeholder="Write sth.." name="message"/>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>