<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" !important>
    <script src="/javascripts/qrCode.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/javascripts/jquery.classyqr.js"></script>
    <title>Document</title>
</head>
<body>

    <div class="nav-wrapper">
        <%- include('./partials/nav.ejs')%>
    </div>
    
    <div class="qr-main">
        <div class="text-wrapper">
            <h2>What are you waiting? Scan it!</h2>
            <ul>
                <li>1. Open WhatsApp on your phone.</li>
                <li>2. Go to Settings > WhatsApp Web/Desktop > Link a Device.</li>
                <li>3. Scan this QR with the camara.</li>
            </ul>
            <p>Remember to keep your phone connected to a stable Wi-Fi network and disable Low Power Mode.</p>
            <p>Once scanned, click the following button.</p>
            <form method="GET" action="/client/home" class="qr-form">
                <button type="submit">Click Here</button>
            </form>
        </div>
        <div class="qr-code-wrapper">
            <div class="qr-wrapper" data-qr ="<%= qr %>">
                <img class="phone-img" src="/images/NicePng_hike-png_3936820.png"/>
                <div id="qr2"></div>
            </div>
        </div>
    </div>
    
    <!-- <div class="qr-string"><%= qr %></div> -->
    
</body>
</html>